<div class="row">
    <div class="col-6 right-3 left-3">
        <h1 style="text-align:center;text-transform:uppercase;">About</h1>
        <h2>What's going on here?</h2>
        <p>Product Hunt users can now search for a word and find matching hunters to contact in order to ask them hunt your project / app / startup.<p>

        <h2>Who made this?</h2>
        <p>The guy behind this is <a href="https://twitter.com/clemkn" target="_blank">@Clemkn</a>, a CS student, Product Hunter, maker of <a href="https://producthunt.com/tech/bookstck" target="_blank">Bookstck</a> and co-captain of the <a href="http://nalyze.net" target="_blank">Nalyze</a> ship.</p>
        <p>All HunterHunt related code is available <a href="http://github.com/clemkn/hunter-hunt" target="_blank">on Github</a>.</p>

        <h2 id="howitworks">How it works?</h2>
        <p>Thanks to Product Hunt's API, a set of scripts counts all occurrences contained in best hunters' taglines and associates a batch of words to each hunter.</p>
        <p>For example, here is the list words associated with <a href="/rrhoover">@rrhoover</a>, CEO of Product Hunt: <br/><i>game, photo, gifs, music, friend, video, ios, product, track, mobile and others.</i></p>

        <h3>How many hunters are available?</h3>
        <p>Currently, HunterHunt only analyses the 85 best hunters. All the hunters are available <a href="/ranking">here</a>.</p>

        <br/></br>
        <p>Acknowledgements</p>
        <p>Thanks <a href="https://twitter.com/joydisee">@joydisee</a> for helping with the words.</p>
        </div>
</div>
