<div id="ranking" class="row">
    <div class="col-8 left-2 right-2">
        <h1 style="text-transform:uppercase;">Ranking</h1>

        <div id="order_by">
            <button ng-class="selectedAverage? 'active' : 'desactive'" ng-click="average()" tooltips="" tooltip-title="Votes/Hunts" tooltip-side="top">Average</button>
            <button ng-class="selectedVotes? 'active' : 'desactive'" ng-click="votes()">Votes</button>
            <button ng-class="selectedHunts? 'active' : 'desactive'" ng-click="posts()">Hunts</button>
            {{$index}}
        </div>

        <ul id="top-hunters">
            <li class="hunter" ng-repeat="top_hunter in top_hunters">
                <a href="/{{top_hunter.value[0]}}">
                <div class="picture" style="background-image:url({{top_hunter.value[1]}})">
                    <div ng-class="{gold:$index==0,silver:$index==1,bronze:$index==2}" class="tag">{{format(top_hunter.key)}}</div>
                </div>
                <div class="username">@{{top_hunter.value[0]}}</div>
                </a>
            </li>
        </ul>

        <ul id="hunters">
            <li class="hunter outer" ng-repeat="hunter in hunters" ng-animate="'animate'">
                <div class="inner">
                    <a href="/{{hunter.value[0]}}">
                    <div class="picture" style="background-image:url({{hunter.value[1]}})">
                        <div class="tag" style="background:linear-gradient(150deg, rgba(230,0,{{Math.round(hunter.key*255/hunters[0].key)}},0.8),rgba(230,0,{{Math.round(hunter.key*255/hunters[0].key)}},1)) !important;">{{format(hunter.key)}}</div>
                    </div>
                    <div class="username">@{{hunter.value[0]}}</div>
                    </a>
                </div>
            </li>
        </ul>

    </div>
</div>
