<div class="row">
    <div class="col-6 right-3 left-3">
        <h1 style="text-align:center;text-transform:uppercase;">Tips</h1>
        <p>Some tips to be ready when your product will be on Product Hunt.</p>
        <h2>Must be done before the launch</h2>
        <h6>(meaning before launch day's morning)</h6>
        <ul>
            <li>Find a hunter who is going to get your product featured on the front page.</li>
            <li>Come up with a tagline which describes your product in less than 60 characters.</li>
            <li>Find the makers' twitter handles. If your product is featured by someone else, ask a <a href="https://producthunt.com/about">PH moderator</a> on Twitter to add your teammates to the conversation.</li>
            <li>A few great pictures/screenshots of your product.</li>
            <li>Let your friends, family and supporters know that you will be featured on PH.</li>
        </ul>

        <h2>During the storm</h2>
            <ul>
                <li>Try to be the first to comment on your product, give your product's story, share your vision and mention your team.</li>
                <li>Never ask for upvotes!</li>
                <li>Don't neglect any comment. Try to answer everyone's comments with a minimum of people trolls.</li>
                <li>Stay alert on social networks (using Hootsuite, Buffer... or search Twitter for "myproductname producthunt"), answer questions, retweet (cleverly) and try to generate interaction around your product.</li>
            </ul>

        <h2>More informations</h2>
        <ul>
            <li><a href="http://www.producthunt.com/protips" target="_blank">Product Hunt Pro tips</a></li>
            <li><a href="http://www.producthunt.com/faq" target="_blank">Product Hunt FAQ</a></li>
            <li><a href="https://medium.com/@bramk/5-ways-not-to-pitch-your-product-a55ac940841b" target="_blank">5 ways not to pitch your product.</a> by <a href="/bramk">@bramk</a></li>
            <li><a href="http://violetanedkova.com/2015/07/02/ideally-on-product-hunt/" target="_blank">Ideally, on Product Hunt</a> by <a href="/v4violetta">@v4violetta</a></li>
        </ul>
    </div>
</div>
